{% extends 'base.html.twig' %}

{% block title %}Film - Accueil!{% endblock %}

{% block body %}
    <section class="w-full">
        <div class="mx-auto w-full px-6">
            <div class="mt-8 flex flex-wrap w-full gap-6">
                {% for film in films %}
                    <div class="flex rounded-xl border border-gray-800 p-8 shadow-xl w-full md:w-1/2 lg:w-1/6 mb-8">
                        <div class="flex flex-col">
                            <img src="https://source.unsplash.com/random/200x200?sig=1" alt="Film image" />

                            <h2 class="mt-6 text-xl font-bold text-foreground">{{ film.title }}</h2>
                            <p class="mt-3 text-sm">{{ film.summary }}</p>

                            <div class="mt-auto" id="more">
                                <div class="mt-4 flex flex-wrap gap-1">
                                    <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                                        {{ film.category.name }}
                                    </span>
                                </div>

                                <a class="mt-6 flex border-blue-600 bg-blue-600 rounded-2xl p-4 justify-center text-white hover:bg-blue-700 transition duration-150 align-bottom" href={{ path('film_show', {id: film.id}) }}>
                                    Voir les détails
                                </a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}