{% extends 'base.html.twig' %}

{% block title %}Film - Accueil!{% endblock %}

{% block body %}
    <div class="flex justify-center items-center p-6">
        <div class="grid grid-cols-2 gap-5 container">
            {% for film in films %}
                <article class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
                    <div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6">
                        <a href={{ path('film_show', {id: film.id}) }}>
                            <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                                {{ film.title }}
                            </h3>
                        </a>

                        <p>{{ film.summary }}</p>

                        <div class="mt-4 flex flex-wrap gap-1">
                        <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                            {{ film.category.name }}
                        </span>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
